{% extends 'base.html.twig' %}

{% block title %}Account | DefinitelyNotYoutube{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/account.css">
{% endblock %}

{% block body %}
    <div class="row flex-column">
        <div class="d-flex p-0 align-items-baseline baner">
            <img src="/img/banner.webp" alt="" class="w-100">
            {# {{ app.user.username }} #}
        </div>
    </div>
{% endblock %}
