.baner {
    position: relative;
}

.baner > .controls {
    top: 0;
    left: 0;
}

.baner > .controls > .username {
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    
    background: rgba(0, 0, 0, 0.75);
    
    font-size: 1.5rem;
    font-weight: bold;
}

.baner > .controls > .buttons {
    gap: 0.5rem;
}

.latest-video {
    border: 1px solid white;
    border-radius: 10px;

    background: #555;
}

.latest-video .thumbnail {
    max-height: 15rem;
    max-width: 100%;
}

.latest-video .thumbnail > img {
    max-height: 100%;
    max-width: 100%;
}

.all-videos {
    color: white;

    max-width: 100%;
}

.all-videos td {
    vertical-align: middle;
    height: 3rem;
}

.all-videos .thumbnail-wrapper {
    display: inline-block;
    height: 3rem;
}

.all-videos .thumbnail-wrapper > img {
    max-width: 100%;
    max-height: 100%;
}

.all-videos .buttons-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    
    height: 3rem;
}

.all-videos .buttons-wrapper .material-symbols-outlined {
    cursor: pointer;
}