{% extends 'base.html.twig' %}

{% block title %}NotYouTube{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/index.css">
{% endblock %}

{% block body %}
    <div class="row gx-3 gy-4 thumbnail-container">
        {% for video in videos %}

        <div class="col-md-6 col-lg-4 col-xxl-3 thumbnail">
            <div class="image">
                <img src="{{ video['thumb'] }}" alt="" draggable="false">
                {# <img src="/img/thumbnails/138728.jpg" alt=""> #}
                <div class="time">12:52</div>
            </div>
            <div class="title">
                <a href="#" title="{{ video['name'] }}">
                    {# Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, consequuntur non. Natus, consequuntur non. Natus, consequuntur non. #}
                    {{video['name']}}
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
