{% extends 'base.html.twig' %}

{% block title %}Update video {{ video.title }} | NotYouTube{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row py-4 justify-content-center">
            <div class="col-lg-3 d-flex flex-column text-center">
                <h1 class="h3 mb-3 font-weight-normal">Update Video</h1>

                {{ form(updateForm) }}
            </div>
        </div>
    </div>
{% endblock %}